# Prisma connection (Database)
# .env.example
text # .gitignore .env .env.local node_modules .next
AUTH_SECRET="run-npx-auth-secret-to-get-this"
AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"